includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app

    excludePaths:
        - app/Adapters
        - app/Providers

    level: 5
    checkModelProperties: true

    ignoreErrors:
        - message: '#Unknown parameter \$get in call to Attribute constructor#'
        - message: '#Unknown parameter \$set in call to Attribute constructor#'
        - message: '#Call to an undefined method .+::acoff\(\)#'
        - message: '#Relation .+ is not found in App\\Models\\.+#'
        - message: '#Call to an undefined method Filament\\Notifications\\Notification::error\(\)#'
        - identifier: property.nonObject
